.container {
    overflow: hidden;
    height: 500px;
    display: flex;
    justify-content: end;
    position: relative;
  }
  .left{
    position: absolute;
    left: 500px;
    display: flex;
    transition: 0.3s;
    flex-direction: column;
  }
  .left img{
    transition: 0.3s;
    width:500px;
    height: 500px;
    object-fit: cover;
  }
  .right{
    width: 500px;
    transition: 0.3s;
    margin-top: 250px ;
  }
  .right img:nth-child(1){
    transform: translateX(-100px) 
  }
  .right img{
    display: block;
    transition: 0.3s;
    width: 100px ;
    height: 100x;
  }